.post {
  width: 400px;
  height: 400px;
  margin: 0px 25px 40px 25px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 10px;
}
.post__category {
  color: gray;
}

.post img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}
.post__info {
  height: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.post__date {
  color: gray;
}
.post__description {
  padding: 10px;
  line-height: 23px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
